
/*dispositivo móvel*/
@media (max-width: 767px) {

.logo1{
    left: 29%;
    width: 50%;
    height: 150px;
    position: absolute;
    top: 2%;
}


    #botaocarrinho{
        top: 3%;
        transform: scale(1.1);
        transition: 0.2s;
        position: fixed;
        height: auto;
        width: 7%;

    }

    .margemazul{
        position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;
        height: 30%;
    }

    .pesquisar{
        position: absolute;
        top: 24%;
        width: 70%;
        height: 3%;
        right: 10%;
        border: none;
        border-radius: 20px;
        background-color: #3897b7;
        color: #000000;
        padding: 5px 10px;
        outline: none;
        font-size: 16px;
    }

        .botaopesquisa{
        position:absolute;
        left: 89%;
        top: 9%;
        border-radius: 20px;
        border: none;
        height: 25px;
        width: 28px;
    }

        .caixapesquisa{
        display: flex;
        align-items: center;
        width: 90%;
        border-radius: 20px;
        border: none;
        height: 19px;
    }

    
    
    .textprodutos1{
        position:absolute;
        text-align: center;
        top: 25%;
        color: #000000;
        width: 210px;
        height: 60px;
        left: 20%;
    }
    
    .textprodutos2{
        position:absolute;
        text-align: center;
        top: 59%;
        color: rgb(0, 0, 0);
        width: 50%;
        height: 170px;
        left: 20%;
    }
    
    .insta{
        position: absolute;
        width: 10%;
        top: 33%;
        right: 65%;
    }
    
    .whats{
        position: absolute;
        width: 10%;
        top: 33%;
        right: 44%;
    }

     .face{
      position: absolute;
        width: 10%;
        top: 33%;
        right: 23%;
    }

    .telamarrom{
        position: absolute;
        top: 730px;
        height: 220%;
        z-index: 1; 
        left: 0%;
        width: 100%;
    }
    
    .gato1{
        position: absolute;
        width:80%;
        top: 100%;
        z-index: 2;
        left: 10%;
        box-shadow: 0px 0px 15px black;
    }
    
    .gato2{
        position: absolute;
        width: 80%;
        top: 160%;
        z-index: 2;
        left: 10%;
        box-shadow: 0px 0px 15px black;
    }
    
    
    .gato3{
        position: absolute;
        width: 80%;
        top: 230%;
        z-index: 2;
        left: 10%;
        box-shadow: 0px 0px 15px black;
    }
    
    .selo{
        position: absolute;
        width: 80%;
        top: 300%;
        z-index: 2;
        left: 10%;
        border-radius: 8px;
        border-color: black;
        box-shadow: 15px 15px 15px black;
    }
    

}

.botao1{
    position:absolute;
    right:40%;
    top: 48%;
    height: 4% ;
    width: 20%;
    background-color: white;
    font-style:oblique;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao2{
    position:absolute;
    top: 58%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao3{
    position:absolute;
    top: 68%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color: white;
    font-style:oblique;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao4{
    position:absolute;
    top: 78%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    font-style:oblique;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao5{
    position:absolute;
    top: 78%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    font-style:oblique;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}

/* pra pc*/

@media (min-width: 768px) {
    .logo1{
        left: 10%;
        width: 15%;
        height: auto;
        position: absolute;
        top: -2%;
        
    }

    #botaocarrinho{
        top: 3%;
        transform: scale(1.1);
        transition: 0.2s;
        position: fixed;
        height: auto;
        width: 3%;

    }
    .pesquisar{
        top: 10%;
        width: 20%;
        position: absolute;
        right: 41%;
        border: none;
        border-radius: 20px;
        background-color: #3897b7;
        color: #000000;
        padding: 10px 15px;
        outline: none;
        font-size: 16px;
    }

    .caixapesquisa{
        display: flex;
        align-items: center;
        width: 90%;
        border-radius: 20px;
        border: none;
        height: 20px;
    }

    .botaopesquisa{
        position:absolute;
        left: 89%;
        top: 9%;
        border-radius: 20px;
        border: none;
        height: 34px;
        width: 34px;
        background-color: rgb(127, 215, 215);
    }
    
    .textprodutos1{
        position:absolute;
        text-align: center;
        top: 45%;
        color: rgb(0, 0, 0);
        width: 50%;
        left: 20%;
    }
    
    .textprodutos2{
        position:absolute;
        text-align: center;
        top: 75%;
        color: rgb(0, 0, 0);
        width: 50%;
        height: 170px;
        left: 20%;
    }
    
    .insta{
        position: absolute;
        width: 2%;
        top: 9%;
        right: 11%;
    }
    
    .whats{
        position: absolute;
        width: 2%;
        right: 16%;
        top:9% ;
    }
     .face{
        position: absolute;
        width: 2%;
        right: 20%;
        top:9%;
    }

    .telamarrom{
        position: absolute;
        top: 800px;
        width: 500%;
        height: 100%;
        left: 0px;   
    }

    .margemazul{
        position: absolute;
        width: 100%;
        top: 0%;
        left: 0%;
        height: 30%;
    }

    .gato1{
        position: absolute;
        width:20%;
        top: 120%;
        z-index: 2;
        left: 10%;
        box-shadow: 0px 0px 15px black;
    }
    
    .gato2{
        position: absolute;
        width: 20%;
        top: 121%;
        z-index: 2;
        left: 40%;
        box-shadow: 0px 0px 15px black;
    }
    
    
    .gato3{
        position: absolute;
        width: 20%;
        top: 122%;
        z-index: 2;
        left: 70%;
        box-shadow: 0px 0px 15px black;
    }

    .meuBotao{
        background-color: aqua;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    

    .selo{
        position: absolute;
        width: 20%;
        top: 200%;
        z-index: 2;
        left: 40%;
        border-radius: 8px;
        border-color: black;
        box-shadow: 15px 15px 15px black;
    }
}

.botao1{
      position:absolute;
    right:40%;
    top: 50%;
     height: 4% ;
    width: 20%;
    right: 40%;
    border: none;
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;r: none;
}
.botao2{
    position:absolute;
    top: 60%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;r: none;

    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao3{
    position:absolute;
    top: 70%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;r: none;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao4{
    position:absolute;
    top: 80%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    border: none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;r: none;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}
.botao5{
    position:absolute;
    top: 90%;
     height: 4% ;
    width: 20%;
    right: 40%;
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;r: none;
    border: none;
    border-radius: 15px;
    box-shadow: 5px 5px 25px black;
}

@media (prefere-color-scheme: dark) {
    body {
        background-color: 121212;
        color: white;
    }

    button {
        background-color: #1f1f1f;
        color: white;
        border: 1px solid #444
    }
}

body {
    background-color: white;
    color: black;
}

button {
    background-color: #f0f0f0;
    color: black;
    border: 1px solid #ccc;
}
